<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <Appenders>
        <RollingRandomAccessFile name="File" fileName="logs/logblock/latest.log"
                                 filePattern="logs/logblock/%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}]: %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
                <OnStartupTriggeringPolicy/>
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>
    <Loggers>
        <Logger name="com.mairwunnx.logblock.EntryPoint" level="info">
            <AppenderRef ref="File"/>
        </Logger>
        <Root level="warn">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</configuration>
